
body{
	background: black;
	background-image: url(../images/music_notes.jpg);
	background-attachment: fixed;
	font: 100% Oxygen, sans-serif;
	max-width: 960px;
	margin: 0 auto;

}

/*-----Wrapper CSS info--------*/
#wrapper{
	width: 100%;
	background: silver;

}
h1, h2, h3, h4, h5{
	font-family: 'Shadows Into Light', cursive;
	margin: 0;
	padding: 0;
}
p{
	margin: 0 1.66666666%;
}
/*-----Header CSS--------*/

#dgmc_header{
	background: white;
	float: left;
	width: 100%
}
#dgmc_header h1{
	text-indent: -99000px;
	float: left;
	width: 0;
}
#logo{
	float: left;
	width: 22.22222222%;
}
#logo img{
	width: 100%;
}

#dgmc_main_nav{
	float:left;
	width: 77.77777777%;/*700px*/
}
#dgmc_main_nav ul{
	list-style-type: none;
	float: left;
	padding: 0;
	width: 100%;
	margin: 63px 0 0;
}
#dgmc_main_nav li{
	float: left;	
	width: 25%;
}

#dgmc_main_nav a{
	text-decoration: none;
	background: black;
	display: block;
	text-align:center;
	color: white;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.125em;
	font-weight: lighter;
}
#dgmc_main_nav a:hover{
	color: blue;
	background: white;
}
h1{
	text-shadow: .1em .1em .2em black;
	text-align: center;
	font-size: 3.125em;
	color: rgb(241, 241, 241);
}

/*--Chrous--*/
#home{
	clear: left;
	/*background: #65329C;*/
	background-color: #454545;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.slider{
	width: 42.77777777%;
	display: block;
	margin: 1.66666666%;
	float: left;
}
.slider img{
	width: 100%;
	border-radius: .625em;
}
.main_para{
	width: 50.55555555%;
	margin: 1.66666666%;
	float:left;
	text-align: center;
}
#home strong{
	font-size: 1.5625em;
}
.join_button{
	width: 50.55555555%;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.join_button .button {
	margin: 1.66666666% auto;  
	border-top: 0.0625em solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 10px 20px;
	-webkit-border-radius: .9375em;
	-moz-border-radius: .9375em;
	border-radius: .9375em;
	-webkit-box-shadow: rgba(0,0,0,1) 0 .0625em 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 .0625em 0;
	box-shadow: rgba(0,0,0,1) 0 .0625em 0;
	text-shadow: rgba(0,0,0,.4) 0 .0625em 0;
	color: white;
	font-size: 1.5625em;
	font-family: "Carrois Gothic SC", cursive;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
}

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
/*--------Season--------*/
#season{
	background: #454545;
	clear: left;
}

#season ul{
	border: .625em solid black;
	list-style-type: none;
	width: 81.11111111%; /*730/900*/
	margin: 0 auto;
	overflow: hidden;
	padding: 0.6849315%;
}

#season li{
	float: left;
	margin: 1.11111111%;
	width: 47.5342465%;
}
#season img{
	width: 100%	
}

#season li a{ 
	border: .625em solid black;
	display: block;
	outline: 0;
}
#season li a:hover{
	border: .625em solid blue;
}

.season_footer p{
	text-align: center;
	font: 1.5625em "Carrois Gothic SC";
	margin: 0;
	padding: 0.55555555% 0 0;
}
table{
	border-collapse: collapse;
}
.upcoming_dates{
	width: 80%;
	margin: 0 auto;
}
.upcoming_dates th{
	color: white;
	text-shadow: .1em .1em .2em black;
	font-size: 1.5em;
}

.upcoming_dates td{
	width: 20%;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding: 0;
	border-bottom: 1px solid silver;
}

/*--------MVV--------*/

#mvv{
	background: rgba(5, 176, 45, .25);
	overflow: hidden;
	
}
h2{
	text-align: center;
	font-size: 1.5625em;
	font-weight: normal;
}

.mission{
	display: block;
	width: 31.11111111%;
	float:left;
	margin: 0 1.66666666%;
}

.values{
	display: block;
	width: 31.11111111%;
	float:left;
}

.vision{
	display: block;
	width: 31.11111111%;
	float:left;
	margin: 0 1.66666666%;
}
/*--------Join Us--------*/

#join{
	clear: both;
	background: rgba(217, 146, 33, .25);
	overflow: hidden;
}

aside{
	-moz-column-count: 3;
	column-count: 3;
	overflow: hidden;
	margin: 0 1.1111111111%;
	border-bottom: 0.0625em solid black;
}

/*.join_tagline{
	margin: 1.11111111% 1.66666666%;
	width: 16.66666666%;
	float: left;
}*/

#audition_dates{
	width: 33.33333333%;
	margin: 1.11111111% 1.66666666%;
	float: left;
}
#audition_dates ul{
	list-style-type: square;
	font: 1.125em "Oxygen", sans-serif; 
}
#join .join_tagline h2{
	text-shadow: none;
}
#contact_form{
	margin: 1.11111111% 1.66666666%;
	float: left;
}
/*------Footer-----*/
#dgmc_footer{
	clear: left;
	background: black;
	overflow: hidden;
}
#dgmc_footer ul{
	list-style-type: none;
	float: left;
	padding: 0;
	width: 100%
}
#dgmc_footer li{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 0.9375em;
	color: white;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	h1{
		text-shadow: .1em .1em .2em black;
		text-align: center;
		font-size: 2.125em;
		color: rgb(241, 241, 241);
	}
	h2{
		font-size: 1.25em;
	}
	aside{
		-moz-column-count: 2;
		column-count: 2;
		overflow: hidden;
		border-bottom: 0.0625em solid black;
	}
	.join_us_info{
		border-bottom: .0625em solid black;
		margin-bottom: 1.66666666%;
		padding-bottom: 1.66666666%;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	/*-----Header CSS--------*/

#logo{
	width: 100%;
	text-align: center;
}
#logo img{
	width: 35%;
	vertical-align: middle;
}

#dgmc_main_nav{
	width: 100%;
	padding: 0;
}
#dgmc_main_nav ul{
	margin: 0;
}

#dgmc_main_nav a{
	height: 60px;
}
.slider{
	width: 100%;
	display: block;
	margin: 1.66666666%;
	text-align: center;
}
.slider img{
	width: 75%;
	border-radius: .625em;
	vertical-align: middle;
}
.main_para{
	width: 100%;
	margin: 1.66666666%;
	text-align: center;
}
.join_button{
	float: none;
}

	h1{
		text-shadow: .1em .1em .2em black;
		text-align: center;
		font-size: 2.125em;
		color: rgb(241, 241, 241);
	}
	h2{
		font-size: 1.25em;
	}
	aside{
		-moz-column-count: 2;
		column-count: 2;
		overflow: hidden;
		border-bottom: 0.0625em solid black;
	}
	.join_us_info{
		border-bottom: .0625em solid black;
		margin-bottom: 1.66666666%;
		padding-bottom: 1.66666666%;
	}

	#mvv h2{
		margin: 0 1.66666666%;
		float: none;
		width: 100%;
	}
	.mission, .values, .vision{
		width: 100%;
		float: none;
		margin: 0 1.66666666% 1.66666666%;
		border-bottom: .0625em solid black;
		padding-bottom: 1.66666666%;
		
	}
}
@media screen and (max-width: 479px) {
	#logo{
		width: 100%;
		text-align: center;
	}
	#logo img{
		width: 35%;
		vertical-align: middle;
	}

	#dgmc_main_nav{
		width: 100%;
		padding: 0;
	}
	#dgmc_main_nav ul{
		margin: 0;
	}

	#dgmc_main_nav a{
		height: 60px;
	}
	.slider{
		width: 100%;
		display: block;
		margin: 1.66666666%;
		text-align: center;
	}
	.slider img{
		width: 75%;
		border-radius: .625em;
		vertical-align: middle;
	}
	.main_para{
		width: 100%;
		margin: 1.66666666%;
		text-align: center;
	}
	.join_button{
		float: none;
	}
	h1{
		text-shadow: .1em .1em .2em black;
		text-align: center;
		font-size: 2.125em;
		color: rgb(241, 241, 241);
	}
	h2{
		font-size: 1.25em;
	}
	aside{
		-moz-column-count: 2;
		column-count: 2;
		overflow: hidden;
		border-bottom: 0.0625em solid black;
	}
	.join_us_info{
		border-bottom: .0625em solid black;
		margin-bottom: 1.66666666%;
		padding-bottom: 1.66666666%;
	}

	#mvv h2{
		margin: 0 1.66666666%;
		float: none;
		width: 100%;
	}
	.mission, .values, .vision{
		width: 100%;
		float: none;
		margin: 0 1.66666666% 1.66666666%;
		border-bottom: .0625em solid black;
		padding-bottom: 1.66666666%;
	}
	#season li{
		float: none;
		margin: 1.11111111%;
		width: 100%;
	}
	#season ul{
		border: none;
	}
	#audition_dates{
		width: 100%;
		float: none;
	}
	#contact_form{
		width: 100%;
		float: none;
	}
	aside{
	display:none;
	}
}






